[project]
	description = fiori demo for gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/davidyuansapabap
[access "refs/for/refs/*"]
	read = group user/davidyuansapabap
	push = group user/davidyuansapabap
	label-Code-Review = -2..+2 group user/davidyuansapabap
	label-Verified = -1..+1 group user/davidyuansapabap
	rebase = group user/davidyuansapabap
	removeReviewer = group user/davidyuansapabap
	submit = group user/davidyuansapabap
[access "refs/heads/*"]
	read = group user/davidyuansapabap
	create = group user/davidyuansapabap
	push = +force group user/davidyuansapabap
	pushMerge = group user/davidyuansapabap
[access "refs/tags/*"]
	push = group user/davidyuansapabap
	push = +force group user/davidyuansapabap
